In [4]:
from debuging_ipynb import *

Pressure 109.30343371424011 kPa
Y :  [0.5448083332093433, 0.4551916667906567]
Pressure 92.15637652313664 kPa
X :  [0.16852941883435707, 0.831470581165643]
Temprature 103.30683592836805 C
Y :  [0.5421583358085414, 0.45784166419145855]
Temprature 109.13089105964352 C
X :  [0.1726275531656567, 0.8273724468343433]

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("Antonie_Constants.csv").drop("Unnamed: 0",axis=1)

In [7]:
df.head()

  formula            compound_name        A         B        C  Tmin   Tmax
0    CCL4     carbon-tetrachloride  6.89410  1219.580  227.170   -20  101.0
1   CCL3F   trichlorofluoromethane  6.88430  1043.010  236.860   -33   27.0
2  CCL2F2  dichlorodifluoromethane  6.68619   782.072  235.377  -119  -30.0
3   CCLF3   chlorotrifluoromethane  6.35109   522.061  231.677  -150  -81.0
4     CF4     carbon-tetrafluoride  6.97230   540.500  260.100  -180 -125.0

In [8]:
import random
from tqdm import tqdm

In [9]:
def random_dataset(num,df):
    count = 0
    num_rows = df.shape[0]
    l = []
    pbar = tqdm(total=num)
    while count != num:
        row1_index = random.randint(0, num_rows - 1)
        row2_index = random.randint(0,num_rows - 1)
        
        if row1_index != row2_index:
            Tmin = max(df["Tmin"][row1_index],df["Tmin"][row2_index])
            Tmax = min(df["Tmax"][row1_index],df["Tmax"][row2_index])
            
            if (Tmax - Tmin) > 0:
                randT = round(random.uniform(Tmin,Tmax),5)
                x1 = round(random.random(),5)
                x2 = 1 - x1
                
                d = {"x1" : x1, "x2" : x2, "T" : randT,
                     "A1" : df['A'][row1_index],
                     "B1" : df['B'][row1_index],
                     "C1" : df['C'][row1_index],
                     "A2" : df['A'][row2_index],
                     "B2" : df['B'][row2_index],
                     "C2" : df['C'][row2_index]}
                count += 1
                pbar.update(1)
                l.append(d)
    
    df = pd.DataFrame(l)
    return df

In [10]:
ndf = random_dataset(500000,df)

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████▉| 499997/500000 [02:07<00:00, 4085.04it/s]

In [11]:
ndf.head()

,A1,A2,B1,B2,C1,C2,T,x1,x2
0,6.87015,5.51917,1197.60,460.684,225.00,164.594,-0.25001,0.13073,0.86927
1,6.88827,6.90252,1466.80,1368.720,203.00,207.440,49.34400,0.65543,0.34457
2,7.25390,7.21300,1507.41,1308.400,244.70,224.200,47.03561,0.82500,0.17500
3,6.89288,6.98834,1460.52,1647.100,201.90,201.000,161.48879,0.00849,0.99151
4,6.81616,6.86731,1486.62,1347.209,208.32,219.684,66.97549,0.35946,0.64054

In [12]:
tqdm.pandas()

In [13]:
ndf["BUBL_P"] = ndf.apply(lambda x: BUBL_P( [x["x1"], x["x2"]], x['T'], [ [x["A1"], x["B1"], x["C1"]], [x["A2"], x["B2"], x["C2"]]])[0],axis=1)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████| 500000/500000 [03:14<00:00, 4085.04it/s]

In [14]:
ndf.head()

,A1,A2,B1,B2,C1,C2,T,x1,x2,BUBL_P
0,6.87015,5.51917,1197.60,460.684,225.00,164.594,-0.25001,0.13073,0.86927,13.753888
1,6.88827,6.90252,1466.80,1368.720,203.00,207.440,49.34400,0.65543,0.34457,3.581509
2,7.25390,7.21300,1507.41,1308.400,244.70,224.200,47.03561,0.82500,0.17500,8.557372
3,6.89288,6.98834,1460.52,1647.100,201.90,201.000,161.48879,0.00849,0.99151,11.576954
4,6.81616,6.86731,1486.62,1347.209,208.32,219.684,66.97549,0.35946,0.64054,7.078028

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train,X_test,y_train,y_test = train_test_split(ndf.drop('BUBL_P',axis=1),ndf['BUBL_P'],test_size = 0.001)

In [17]:
from sklearn.neural_network import MLPRegressor
from sklearn.linear_model import LinearRegression

In [18]:
nn = MLPRegressor(hidden_layer_sizes=(10,10),max_iter=100,warm_start=True,verbose=True,learning_rate='adaptive')
nn.fit(X_train,y_train)
y_pred = nn.predict(X_test)
nn.score(X_test,y_test)

Iteration 1, loss = 247.89338402
Iteration 2, loss = 12.09935321
Iteration 3, loss = 9.58473185
Iteration 4, loss = 9.12926463
Iteration 5, loss = 8.08201150
Iteration 6, loss = 7.72576049
Iteration 7, loss = 7.54118524
Iteration 8, loss = 7.42911065
Iteration 9, loss = 7.30082117
Iteration 10, loss = 7.05058208
Iteration 11, loss = 6.37582460
Iteration 12, loss = 5.01312047
Iteration 13, loss = 4.41241780
Iteration 14, loss = 4.19174993
Iteration 15, loss = 4.06393117
Iteration 16, loss = 3.95714078
Iteration 17, loss = 3.82604968
Iteration 18, loss = 3.69168583
Iteration 19, loss = 3.53074074
Iteration 20, loss = 3.34499384
Iteration 21, loss = 3.17752274
Iteration 22, loss = 3.04205132
Iteration 23, loss = 2.88854898
Iteration 24, loss = 2.76838478
Iteration 25, loss = 2.72112813
Iteration 26, loss = 2.68644412
Iteration 27, loss = 2.64493927
Iteration 28, loss = 2.60020072
Iteration 29, loss = 2.57629233
Iteration 30, loss = 2.52291351
Iteration 31, loss = 2.47995921
Iteration 32, loss = 2.44490029
Iteration 33, loss = 2.40796246
Iteration 34, loss = 2.37051177
Iteration 35, loss = 2.32841219
Iteration 36, loss = 2.26632421
Iteration 37, loss = 2.21423943
Iteration 38, loss = 2.17661038
Iteration 39, loss = 2.13614327
Iteration 40, loss = 2.09936006
Iteration 41, loss = 2.04506965
Iteration 42, loss = 2.00884456
Iteration 43, loss = 1.96360852
Iteration 44, loss = 1.92108034
Iteration 45, loss = 1.88073310
Iteration 46, loss = 1.85411256
Iteration 47, loss = 1.81781948
Iteration 48, loss = 1.76762285
Iteration 49, loss = 1.74912233
Iteration 50, loss = 1.70163574
Iteration 51, loss = 1.67991353
Iteration 52, loss = 1.64083856
Iteration 53, loss = 1.59952557
Iteration 54, loss = 1.57480064
Iteration 55, loss = 1.54933712
Iteration 56, loss = 1.53400503
Iteration 57, loss = 1.49923892
Iteration 58, loss = 1.46996820
Iteration 59, loss = 1.45636315
Iteration 60, loss = 1.38826244
Iteration 61, loss = 1.33036776
Iteration 62, loss = 1.32946536
Iteration 63, loss = 1.29898121
Iteration 64, loss = 1.29471695
Iteration 65, loss = 1.27046070
Iteration 66, loss = 1.25477083
Iteration 67, loss = 1.23753783
Iteration 68, loss = 1.23946352
Iteration 69, loss = 1.21160724
Iteration 70, loss = 1.20240225
Iteration 71, loss = 1.19217362
Iteration 72, loss = 1.16985193
Iteration 73, loss = 1.15990894
Iteration 74, loss = 1.14554474
Iteration 75, loss = 1.13832908
Iteration 76, loss = 1.13965583
Iteration 77, loss = 1.13019412
Iteration 78, loss = 1.11444315
Iteration 79, loss = 1.10606727
Iteration 80, loss = 1.09604183
Iteration 81, loss = 1.09042548
Iteration 82, loss = 1.07165141
Iteration 83, loss = 1.07390968
Iteration 84, loss = 1.07930677
Iteration 85, loss = 1.05293342
Iteration 86, loss = 1.04066287
Iteration 87, loss = 1.02565497
Iteration 88, loss = 1.02014795
Iteration 89, loss = 1.02442716
Iteration 90, loss = 0.98507481
Iteration 91, loss = 0.99574040
Iteration 92, loss = 0.98353714
Iteration 93, loss = 0.96676578
Iteration 94, loss = 0.96638506
Iteration 95, loss = 0.94148866
Iteration 96, loss = 0.95957603
Iteration 97, loss = 0.96460480
Iteration 98, loss = 0.93158976
Iteration 99, loss = 0.93228211
Iteration 100, loss = 0.92767179

E:\programs\python\python 3\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:566: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (100) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

0.9361095524092061

In [20]:
pd.DataFrame({'y':y_test,"y_pred":y_pred})

                y     y_pred
45301   11.975370  13.891110
8754    16.089213  16.320515
86546    6.918678   7.534758
311327  17.391845  16.553209
294915  13.418040  11.920404
482186  12.640059  13.475980
54476   12.929747  11.841426
65564   21.107093  21.562297
492023  17.442450  17.631029
415663   9.173198   8.841882
240560   5.434162   4.091503
151883  10.525417  10.207738
78899   15.134715  15.206927
469927  21.241952  21.731166
278183   7.767886   7.636570
284417  15.149664  16.011273
257628  11.672519  13.382736
103563  11.880150  10.505765
2963     6.630438   6.722824
54312   13.067797  13.301319
288601   7.378923   9.725471
166179   6.821309   6.371243
306848  22.669241  22.649909
360992   8.842513  10.565671
211396  12.889400  12.028881
224113  17.092725  16.457123
241063  10.720573  12.231223
9637    11.376607  10.172397
129196  19.572180  15.309332
354592   9.209833   7.472587
...           ...        ...
199774  18.787825  16.907367
46453   11.171623  10.803640
8928    11.251640  10.967784
118325   6.531598   7.054634
77084    8.515047   8.040556
400122   9.441013   9.643131
316260   5.667482   5.552577
299288  18.400043  18.823492
311763   9.741063   9.207059
229034  14.269665  12.689810
451166  19.282918  18.648542
23346   19.666011  18.679989
193410   5.923642   5.072322
375825   4.968910   4.515930
274150  20.525856  19.924063
176426   6.088965   6.095815
139060   7.430155   7.695475
79750    6.816230   5.773644
339257   3.805048   4.069080
168079  11.062243  10.533540
447135  10.550165  10.306443
497585   7.213857   4.814057
78173    6.002577   6.451937
151439  11.762100  13.058368
426040  10.935053  10.796030
231914  18.949295  19.298031
441036  23.111170  20.311406
436302   2.171773   1.155677
69184   25.149239  22.731674
195868  14.690405  18.025218

[500 rows x 2 columns]

In [30]:
a = ndf.loc[0].drop("BUBL_P")
all_prams = [[a["A1"],a["B1"],a["C1"]],a["A2"],a["B2"],a["C2"]]
T = a['T']
X = [a['x1'],a['x2']]

In [32]:
%%timeit
BUBL_P(X,T,all_params)

14 µs ± 1.75 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [46]:
DDD = pd.DataFrame(a).T
DDD

,A1,A2,B1,B2,C1,C2,T,x1,x2
0,6.87015,5.51917,1197.6,460.684,225.0,164.594,-0.25001,0.13073,0.86927

In [47]:
%%timeit
nn.predict(DDD)

489 µs ± 6.99 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [22]:
lr = LinearRegression()

In [23]:
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [24]:
y_pred = lr.predict(X_test)

In [26]:
lr.score(X_test,y_test)

0.4977642630378664

In [25]:
pd.DataFrame({'y':y_test,"y_pred":y_pred})

               y     y_pred
97492   3.186590   7.442498
42393   6.916559   6.919995
46884   8.536810  11.635727
1298    7.230263  10.396412
61955  11.301846  10.252109
26462  24.681650  13.178462
23481  16.688538  18.270885
94048   5.791201   6.910312
99940  13.773925  13.185399
49092   9.713561  12.093115
30675  19.472594  17.805088
39041  16.518896  16.430668
54655   7.519177  11.348697
28798  15.036830  13.998429
84558  16.519991  15.869052
59751  13.206446  13.737202
32688  13.962766  15.397551
94621  12.350523  13.670430
96388   6.765066  12.388658
24528   5.301102  11.170790
25596   8.108621  12.351820
38187  13.614988  14.954700
55936  15.299649  14.463837
30466   8.507714  10.078574
90241  12.599969  14.477596
33511  18.524230  17.944025
55018  14.335934  12.306820
16555   6.569929  11.124499
14409  24.301927  11.093570
7971    5.574548  12.037325
...          ...        ...
62492  14.408036  13.006008
1543   14.924730  15.422509
9507   16.893657  11.061824
44670   9.263590  10.800391
24133   9.630384   8.352972
4917   12.065273  13.296085
47016  11.000262  14.461336
48380  10.000044  10.040042
31088  10.393622  13.190997
74645  11.176210  13.594763
48119  10.165157  11.581586
28711  17.724879  15.945231
12343   3.382905   8.119616
60571   9.709268  10.175905
36001  18.030578  16.775658
67650  10.596408  12.809014
14174   8.315826  10.210294
645    14.737075  13.878032
78971   6.099877  10.629439
10574  12.450236  13.558816
83624  15.252401  12.486928
20658  25.455011  17.110526
51748  15.768747  13.616727
61896   3.014361   5.147453
56746   6.955422   7.679101
86091   4.919522   5.930810
35522  15.646784  17.303636
11345  15.659749  10.524086
83183  18.560155  19.068992
32672  18.783302  18.886822

[100 rows x 2 columns]